[Desktop Entry]
Name=Genymotion
Exec=/opt/genymotion/genymotion
Icon=/opt/genymotion/icons/icon.png
Terminal=false
Type=Application
Categories=Development
